.App {
    color: coral;
    background-image: url("SpacePhoto1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 1200px;
    font-weight: bolder;
}

