.userPost {
    display: grid;
    grid-template-areas:
        "uA uMCNR"
        "uA uN"
        "uA uMT"
        "uA uTT"
        "uA uMCRR";
    grid-template-rows: 120px 1fr;
    grid-template-columns: 2fr 12fr;
    background-color: darkgreen;
    width: 400px;
}

.userAvatar {
    grid-area: uA;
    background-color: darkgreen;
    margin: 5px 5px 0px 5px;
    padding-bottom: -60px;
}

.userAvatar img {
    width: 60px;
    border-radius: 70%;
    margin: 5px;
    margin-bottom: -90px;

}

.userName {
    grid-area: uN;
    color: antiquewhite;
    margin: 5px;
    padding: 10px;
}

.userMessageContainer {
    grid-area: uMCNR;
    margin: 10px 10px 10px 0px;
    border-radius: 10px 10px 10px 0px;
    background-color: #043b04;
    color: antiquewhite;
}

.userMessageText {
    grid-area: uMT;
    color: red;
    padding-left: 14px;

}

.userMessageTextTime {
    grid-area: uTT;
    margin-left: 80%;
    /*padding-right: 5px;*/
}

.userMessageCorner {
    grid-area: uMCRR;
    height: 6px;
    margin-left: -18px;
    margin-top: -24px;
}

